In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "",
"fs.azure.account.oauth2.client.secret": '',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/tanent_id/oauth2/token"}

dbutils.fs.mount(
source = "abfss://olympic-data-tokyo@olympictokyodata.dfs.core.windows.net", #contrainername@storageaccountname
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

True

In [0]:
%fs
ls "/mnt/tokyoolymic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1744066736000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1744066761000

In [0]:
athletes = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymic/raw-data/teams.csv")

In [0]:
athletes.show(10)

+-----------------+--------------------+-------------------+
|       PersonName|             Country|         Discipline|
+-----------------+--------------------+-------------------+
|  AALERUD Katrine|              Norway|       Cycling Road|
|      ABAD Nestor|               Spain|Artistic Gymnastics|
|ABAGNALE Giovanni|               Italy|             Rowing|
|   ABALDE Alberto|               Spain|         Basketball|
|    ABALDE Tamara|               Spain|         Basketball|
|        ABALO Luc|              France|           Handball|
|     ABAROA Cesar|               Chile|             Rowing|
|    ABASS Abobakr|               Sudan|           Swimming|
| ABBASALI Hamideh|Islamic Republic ...|             Karate|
|    ABBASOV Islam|          Azerbaijan|          Wrestling|
+-----------------+--------------------+-------------------+
only showing top 10 rows

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
athletes = athletes.withColumnRenamed("PersonName", "Name")

In [0]:
athletes.show(5)

+-----------------+-------+-------------------+
|             Name|Country|         Discipline|
+-----------------+-------+-------------------+
|  AALERUD Katrine| Norway|       Cycling Road|
|      ABAD Nestor|  Spain|Artistic Gymnastics|
|ABAGNALE Giovanni|  Italy|             Rowing|
|   ABALDE Alberto|  Spain|         Basketball|
|    ABALDE Tamara|  Spain|         Basketball|
+-----------------+-------+-------------------+
only showing top 5 rows

In [0]:
coaches.show(10)

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       Cï¿½te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 10 rows

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entriesgender.show(10)

+-------------------+------+----+-----+
|         Discipline|Female|Male|Total|
+-------------------+------+----+-----+
|     3x3 Basketball|    32|  32|   64|
|            Archery|    64|  64|  128|
|Artistic Gymnastics|    98|  98|  196|
|  Artistic Swimming|   105|   0|  105|
|          Athletics|   969|1072| 2041|
|          Badminton|    86|  87|  173|
|  Baseball/Softball|    90| 144|  234|
|         Basketball|   144| 144|  288|
|   Beach Volleyball|    48|  48|   96|
|             Boxing|   102| 187|  289|
+-------------------+------+----+-----+
only showing top 10 rows

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals.show(10)

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
+----+--------------------+----+------+------+-----+-------------+
only showing top 10 rows

In [0]:
medals = medals.withColumnRenamed("TeamCountry", "Team_Country")
medals.show(5)

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
+----+--------------------+----+------+------+-----+-------------+
only showing top 5 rows

In [0]:
medals = medals.withColumnRenamed("Rank by Total", "Rank_by_Total")
medals.show(5)

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank_by_Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
+----+--------------------+----+------+------+-----+-------------+
only showing top 5 rows

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.show(10)

+-----------+--------------+--------------------+-----+
|   TeamName|    Discipline|             Country|Event|
+-----------+--------------+--------------------+-----+
|    Belgium|3x3 Basketball|             Belgium|  Men|
|      China|3x3 Basketball|People's Republic...|  Men|
|      China|3x3 Basketball|People's Republic...|Women|
|     France|3x3 Basketball|              France|Women|
|      Italy|3x3 Basketball|               Italy|Women|
|      Japan|3x3 Basketball|               Japan|  Men|
|      Japan|3x3 Basketball|               Japan|Women|
|     Latvia|3x3 Basketball|              Latvia|  Men|
|   Mongolia|3x3 Basketball|            Mongolia|Women|
|Netherlands|3x3 Basketball|         Netherlands|  Men|
+-----------+--------------+--------------------+-----+
only showing top 10 rows

In [0]:
teams.printSchema()

root
 |-- Team: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
teams = teams.withColumnRenamed("TeamName", "Team")
teams.show(5)

+-------+--------------+--------------------+-----+
|   Team|    Discipline|             Country|Event|
+-------+--------------+--------------------+-----+
|Belgium|3x3 Basketball|             Belgium|  Men|
|  China|3x3 Basketball|People's Republic...|  Men|
|  China|3x3 Basketball|People's Republic...|Women|
| France|3x3 Basketball|              France|Women|
|  Italy|3x3 Basketball|               Italy|Women|
+-------+--------------+--------------------+-----+
only showing top 5 rows

In [0]:
#Top countries with the highest number of gold medals
top_gold_medals_by_countries = medals.orderBy("Gold", ascending=False).select("Team_Country", "Gold")
top_gold_medals_by_countries.show(10)

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
+--------------------+----+
only showing top 10 rows

In [0]:
# Disciplines with the highest number of females
disciplines_with_females = entriesgender.orderBy("Female", ascending=False).select("Discipline", "Female")
disciplines_with_females.show(10)

+------------+------+
|  Discipline|Female|
+------------+------+
|   Athletics|   969|
|    Swimming|   361|
|    Football|   264|
|      Rowing|   257|
|      Hockey|   192|
|        Judo|   192|
|    Shooting|   178|
|     Sailing|   175|
|    Handball|   168|
|Rugby Sevens|   146|
+------------+------+
only showing top 10 rows

In [0]:
# Disciplines with the highest number of males
disciplines_with_males = entriesgender.orderBy("Male", ascending=False).select("Discipline", "Male")
disciplines_with_males.show(10)

+----------+----+
|Discipline|Male|
+----------+----+
| Athletics|1072|
|  Swimming| 418|
|  Football| 344|
|    Rowing| 265|
|      Judo| 201|
| Wrestling| 193|
|    Hockey| 192|
|    Boxing| 187|
|  Shooting| 178|
|   Sailing| 175|
+----------+----+
only showing top 10 rows

In [0]:
#Teams with the highest number of disciplines
teams_in_disciplines= teams.groupBy("Team").count().orderBy("count", ascending=False).show(15)

+-----------------+-----+
|             Team|count|
+-----------------+-----+
|            Japan|   45|
|    United States|   43|
|            Italy|   34|
|          Germany|   32|
|           France|   32|
|        Australia|   32|
|              ROC|   31|
|            China|   30|
|    Great Britain|   28|
|           Canada|   27|
|      Netherlands|   24|
|           Brazil|   21|
|           Poland|   19|
|            Spain|   18|
|Republic of Korea|   17|
+-----------------+-----+
only showing top 15 rows

In [0]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/tokyoolymic/transformed-data/athletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/teams")